.header{
    background: url('../../Images/header_bg_4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 30px auto;
    height: 80vh;
    color: #fff;
    position: relative;
}
.header_content{
    position: absolute;
    top: 20%;
    left: 36%;    
    display: flex;
    gap: 10px;
    max-width: 40%;
}
.header_content h3{
    color: #ff3814;
    font-size: 48px;
}
.header_content a{
    width: 50%;
    align-self: flex-end;
    color: #fff;
}

@media (max-width:1024px){
    .header_content{
        max-width: 50%;
        left: 35%;
    }
  .header_content a{
        width:70%
  }
  
}
@media (max-width:767px){ 
    .header{
        height: 50vh;
    }
   .header_content{
    max-width: 50%;
   }
   .header_content h3{
    font-size: 30px;
   }
} 