.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo{
    position: relative;
}
.logo .nav_line{
    position: absolute;
    top: 80%;
    left: 10px;
    border-bottom: 2px solid black;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 1px;    
}
.logo .nav_title{
    position: absolute;
    top: 49%;
    left: 100%;
    font-weight: bolder;
    color:#ff3814;
}
.nav_menubar{
    display: flex;
    gap: 24px;
    font-size: 18px;
}
.nav_menubar li a{
    color: #000;
    transition: .3s;
}
.nav_menubar a:hover{
    color: #ff6347;
}
.nav_btns{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav_btns .btn{
    color: #000;
}
.nav_menubar .active{
    color:#ff6347;
}
.nav_cart img{
    width:50px;
}
@media (max-width:1050px){
    .logo img{
        width: 70px;
        height: 80px;
    }
    .logo .nav_line{
        width: 110px;
        top: 90%;
    }
    .logo .nav_title{
        top: 63%;
        font-size: 24px;
    }
    .nav_menubar li{
        font-size: 22px;
    }
    .nav_cart img{
        width:60px;
    }
    .nav_btns a{
        font-size: 22px;
    }
}

@media (max-width:900px){
    .logo img{
        width: 60px;
        height: 70px;
    }
    .logo .nav_line{
        width: 110px;
        top: 90%;
    }
    .logo .nav_title{
        top: 60%;
        font-size: 24px;
    }
    .nav_menubar{
        gap: 20px;
    }
    .nav_menubar li{
        font-size: 18px;
    }
    .nav_cart img{
        width:50px;
    }
    .nav_btns a{
        font-size: 18px;
    }
}
@media (max-width:767px){
    .nav_menubar {
       display: none;
    }
    
}